{% extends 'miskoris_app/base.html' %}
{% load static %}

{% block title %}Apie - Miškoris{% endblock %}

{% block content %}

<section   style="min-height: 100vh;">
    <h2>Mūsų tikslas</h2>
    <p>Mūsų tikslas yra palengvinti miško savininkų gyvenimus, padedant jiems greitai aptikti blogus medžius</p>

    <h2>Mūsų paslaugos</h2>
    <p>Galite įkelti savo pasirinktas nuotraukas, jas išanalizuos mūsų sukurtas algoritmas ir taip sužinosite ar jūsų miške esantiems medžiams reikia pagalbos.</p>
</section>

{% endblock %}