{% extends 'miskoris_app/sidebar.html' %}
{% block title %}Dokumentai{% endblock %}

{% block sidebar_content %}
    <h2>Dokumentai</h2>
    <hr style="border: 1px solid rgb(192, 192, 192); margin: 20px 0;">
    {% for forest in forests %}
    <div class="forest-documents">
        <h2><a href="{% url 'documents' id=forest.id %}" class="forest-item">Miškas {{ forest.name }}</a></h2>
        <ul>
            {% for document in forest.documents.all %}
                <li><a href="{% url 'serve_document' document_id=document.id %}" target="_blank" class="document-link">
                    {{ document.filename|default:"Bevardis dokumentas" }}
                </a></li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <p>Nėra dokumentų.</p>
    {% endfor %}
{% endblock %}