{% extends 'miskoris_app/sidebar.html' %}
{% load static %}  
{% block title %}Pažeisti medžiai - {{ forest.name }}{% endblock %}

{% block sidebar_content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <style>
        #map { 
            height: 600px; 
            width: 100%;
            margin: 20px 0;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
    </style>

    <h1>Pažeisti medžiai miške {{ forest.name }}</h1>
    <hr style="border: 1px solid rgb(192, 192, 192); margin: 20px 0;">

    <div id="map"></div>

    <script>
        var dryTreeLocations = JSON.parse('{{ dry_tree_locations|escapejs }}');
        
        var map = L.map('map').setView([55.1694, 23.8813], 7);  // Default to Lithuania
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19,
        }).addTo(map);
        
        var treeIcon = L.icon({
            iconUrl: '{% static "images/tree-icon.png" %}',
            iconSize: [32, 32],
            iconAnchor: [16, 32], 
            popupAnchor: [0, -32] 
        });
        
        if (dryTreeLocations.length > 0) {
            dryTreeLocations.forEach(function(location) {
                var marker = L.marker([location.lat, location.lng], { icon: treeIcon }).addTo(map);
                var popupContent = 'Sausų medžių: ' + location.count + '<br>Koordinatės: ' + location.lat.toFixed(4) + ', ' + location.lng.toFixed(4);
                marker.bindPopup(popupContent);
                
                marker.on('mouseover', function(e) {
                    this.openPopup();
                });
                
                marker.on('mouseout', function(e) {
                    this.closePopup();
                });
            });
            var latlngs = dryTreeLocations.map(loc => [loc.lat, loc.lng]);
            map.fitBounds(L.latLngBounds(latlngs));
        } else {
            L.marker([55.1694, 23.8813]).addTo(map)
                .bindPopup('Nėra pažeistų medžių su koordinatėmis.')
                .openPopup();
        }
    </script>
{% endblock %}