{% extends 'miskoris_app/sidebar.html' %}
{% load custom_filters %}
{% block title %}Miškas - {{ forest.name }} {% endblock %}

{% block sidebar_content %}
    <h1>Tikrinimai  <span class="thin-vertical-line"></span> Miškas {{ forest.name }}<span class="thin-vertical-line"></span> Tikrinimas Nr.{{ order.id}}</h1>
    <hr style="border: 1px solid rgb(192, 192, 192); margin: 20px 0;">

    <form method="post" action="{% url 'analyze_order_images' forest_id=forest.id order_id=order.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-clear">
            <i class="fas fa-cogs"></i> Analizuoti
        </button>
    </form>

    <div class="forest-content">
        <p><strong>Statusas:</strong> 
            {% if order.status == 'in_progress' %}
                Vykdomas
            {% elif order.status == 'completed' %}
                Užbaigtas
            {% endif %}
        </p>
    </div>

    {% if images %}
    <h3>Nuotraukos</h3>
    <div class="forest_images">
        {% for image in images %}
            <div class="forest_image">
                <img src="data:image/jpeg;base64,{{ image.image|base64encode }}" alt="Order Image" width="200px" onclick="openModal(this)">
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Šiam užsakymui nėra nuotraukų.</p>
    {% endif %}

    <!-- Analyzed Photos Section -->
    {% if analyzed_photos %}
    <h3>Analizuotos nuotraukos</h3>
    <ul style="list-style-type: none;" class="analyzed_images">
        {% for analyzed_photo in analyzed_photos %}
        <li>
            <div class="analyzed_image">
                <img src="data:image/jpeg;base64,{{ analyzed_photo.image|base64encode }}" 
                     alt="Analyzed image for order" 
                     width="200px" 
                     onclick="openModal(this)">
                {% if analyzed_photo.analysis_result %}
                <p class="analysis-result">Analizės rezultatas: {{ analyzed_photo.analysis_result }}</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nėra analizuotų nuotraukų.</p>
    {% endif %}

    <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">×</span>
        <img class="modal-content" id="modalImage">
        <button class="prev" onclick="prevImage()">❮</button>
        <button class="next" onclick="nextImage()">❯</button>
    </div>

    <script>
        // View photo
        let images = [];  
        let currentIndex = 0;

        function openModal(imgElement) {
            images = Array.from(document.querySelectorAll(".forest_images img, .analyzed_images img")).map(img => img.src);
            currentIndex = images.indexOf(imgElement.src);
            document.getElementById("modalImage").src = imgElement.src;
            document.getElementById("imageModal").style.display = "flex";
        }

        function closeModal() {
            document.getElementById("imageModal").style.display = "none";
        }

        function nextImage() {
            if (currentIndex < images.length - 1) {
                currentIndex++;
            } else {
                currentIndex = 0; 
            }
            document.getElementById("modalImage").src = images[currentIndex];
        }

        function prevImage() {
            if (currentIndex > 0) {
                currentIndex--;
            } else {
                currentIndex = images.length - 1;
            }
            document.getElementById("modalImage").src = images[currentIndex];
        }
    </script>
{% endblock %}