{% extends 'miskoris_app/base.html' %}
{% load static %}

{% block title %}Slaptažodžio atstatymas{% endblock %}

{% block content %}
<div class="registration-background-container">
    <div class="register-container">
        <h2>Slaptažodžio atstatymas</h2>

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p id="errors">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <p>Slaptažodžio atstatymo laiškas buvo išsiųstas</p>

        <p>Jei laiškas nebuvo gautas, įsitikinkite, kad buvo įvestas teisingas el. paštas</p>

    </div>
</div>
{% endblock %}



<!--
<h3>Slaptažodžio atstatymas</h3>

<p>Įveskite e-pašto adresą slaptažodžio atstatymui</p>

<form method="post">

    {% csrf_token %}
    {{form}}
    <input type="submit" value="Siųsti laišką" name="Send email">

</form>
-->

<!--
<h3>Slaptažodžio atstatymas</h3>

<p>Slaptažodžio atstatymo laiškas buvo išsiųstas</p>

<p>Jei laiškas nebuvo gautas, įsitikinkite, kad buvo įvestas teisingas el-paštas</p>
-->