{% extends 'miskoris_app/base.html' %}
{% load static %}

{% block title %}Slaptažodžio atstatymas{% endblock %}

{% block content %}
<div class="registration-background-container">
    <div class="register-container">
        <h2>Slaptažodžio atstatymas</h2>

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p id="errors">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <p>Naujas slaptažodis buvo nustatytas</p>

        <p>Dabar galite prisijungti prie paskyros! <a href="{% url 'login' %}">Prisijungti</a></p>

    </div>
</div>
{% endblock %}

<!--
<h3>Slaptažodžio atstatymas</h3>

<p>Naujas slatažodis buvo nustatytas. Dabar galite prisijungti prie paskyros.</p>

<a href="/prisijungimas">Prisijungti</a>
-->