{% extends 'miskoris_app/base.html' %}
{% load static %}

{% block title %}Slaptažodžio atstatymas{% endblock %}

{% block content %}
<div class="registration-background-container">
    <div class="register-container">
        <h2>Slaptažodžio atstatymas</h2>

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p id="errors">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <p>Įveskite el. pašto adresą slaptažodžio atstatymui</p>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">El. paštas</label>
                {{ form.email }}
            </div>
            <input type="submit" value="Siųsti laišką" name="Send email" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}



<!--
<h3>Slaptažodžio atstatymas</h3>

<p>Įveskite e-pašto adresą slaptažodžio atstatymui</p>

<form method="post">

    {% csrf_token %}
    {{form}}
    <input type="submit" value="Siųsti laišką" name="Send email">

</form>
-->