{% extends "miskoris_app/base.html" %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="sidebar">
        {% if user.groups.all.0.name == 'customer' or user.groups.all.0.name == 'admin' %}
            <a href="{% url 'forests' %}"> <i class="fa-solid fa-tree icon-large"></i> Mano miškai</a>
            <a href="{% url 'forests_gallery'%}"><i class="fa-solid fa-image icon-large"></i> Galerija</a>
            <a href="{% url 'map' %}"><i class="fa-solid fa-map icon-large"></i> Žemėlapis</a>
            <a href="{% url 'forests_documents' %}"><i class="fa-solid fa-folder icon-large"></i> Dokumentai</a>
        {% endif %}

        {% if user.groups.all.0.name == 'staff' or user.groups.all.0.name == 'admin' %}
            <a href="{% url 'worker_orders' %}"><i class="fa-solid fa-clipboard icon-large"></i> Mano užsakymai</a>
            <a href="{% url 'worker_completed_orders' %}"><i class="fa-solid fa-clipboard-check icon-large"></i> Atlikti užsakymai</a>
        {% endif %}
    </div>

    <div class="content">
        {% block sidebar_content %}{% endblock %}
    </div>
</div>
{% endblock %}